.main-bubble__area--about-area {
    height: 90%;
    display: flex;
}

p {
    margin: 2vh 1.5vw;
    font-size: 2vh;
    color: white;
    text-shadow: 1px solid black;
    text-align: justify;
    text-justify: inter-word;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}