body {
    background-color: black;
    height: 90vh;
}

main {
    height: 100%;
}

.main-bubble {
    height: 100%;
    background-color: rgb(110, 13, 7);
    background-image: url("/project/public/images/home-image-1.jfif");
    background-size: cover;
    border-radius: 0.5rem;
}

.main-bubble__area {
    position: relative;
    background-color: rgba(110, 13, 7, 0.9);
    backdrop-filter: blur(1px);
    border: 1px solid black;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 0.5rem;
}

.main-bubble__area--filter-area {
    height: 7%;
    margin: 0 2%;
    top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vh;
}

select {
    font-size: 2vh;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.main-bubble__area--list-area {
    top: 2%;
    margin: 0% 2%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.list-area__list {
    list-style: none;
    max-height: 100%;
    width: 80%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    text-shadow: 2px 2px black;
    border: 1px solid black;
    border-radius: 0.2rem;
}

.list-area__list li {
    padding: 1vh;
    font-size: 3vh;
    display: flex;
    justify-content: space-evenly;
}

.list-area__paragraph {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
}

.list-area__paragraph--left {
    border-right: 2px solid black;
}

.list-area__list li:nth-child(even){
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 768px) {
    .main-bubble__area--filter-area {
        font-size: 2.5vh;
    }
}