body {
    background-color: black;
}

.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    border-radius: 0.5em;
    height: 66.7vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.home-image-1 {
    background-image: url("../images/home-image-1.jfif");
}

.home-image-2 {
    background-image: url("../images/home-image-2.webp")
}

h2 {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px rgb(110, 13, 7);
}


