body {
    background-color: black;
    height: 90vh;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inner-bubble__button {
    background-color: rgb(110, 13, 7);
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(1px);
    color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 0;
    font-size: 3vh;
    width: 40%;
}

.inner-bubble__button:hover {
    color: white;
    cursor: pointer;
}

.main-bubble {
    background-color: rgb(110, 13, 7);
    background-image: url("/project/public/images/home-image-1.jfif");
    background-size: cover;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.main-bubble__inner-bubble {
    width: 30%;
    height: 20vh;
    background-color: rgba(110, 13, 7, 0.9);
    backdrop-filter: blur(2px);
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px black; 
    border-radius: 10vh;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2vh;
    font-size: 3vh;
    text-shadow: 1px 1px black;
}

.main-bubble__inner-bubble--has-button {
    justify-content: space-evenly;
}

.main-bubble__inner-bubble--last-workout div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.main-bubble__inner-bubble p {
    margin: 0.3rem;
}

@media screen and (max-width: 1024px){
    body {
        height: 100%;
    }

    .main-bubble__inner-bubble {
        height: 30vh;
        width: 40%;
    }
}

@media screen and (max-width: 768px){

    .main-bubble__inner-bubble {
        height: 20vh;
        width: 80%;
        font-size: 3vh;
    }
}

