.navbar {
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(110, 13, 7);
    font-size: 2vw;
    margin-bottom: 0.5em;
}

.navbar-left-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar-img {
    height: 10vh;
    padding-left: 2em;
}

.navbar-list {
    list-style-type: none;
    padding-right: 2em;
    display: flex;
}

.navbar-list-item a, .navbar-left-side-home {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
}

.navbar-list-item a:hover, .navbar-left-side-home:hover {
    color: white;
}

.dropdown {
    position: relative;
    display: none;
    z-index: 1;
    height: 100%;
}

.dropbtn {
    background-color: rgb(110, 13, 7);
    border: none;
    width: 30vw;
    height: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropDwnIcon {
    height: 80%;
    width: auto;
}

.dropDwnIcon-pressed {
    content: url("/project/public/images/dropdown-close.svg");
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    width: 30vw;
    font-size: 3vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    color: black;
    text-shadow: 0.5px 0.5px black;
    width: 30vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .dropdown {
        display: block;
    }

    .navbar-list {
        display: none;
    }
    
    .navbar-left-side-home {
        display: none;
    }

    .navbar {
        height: 10vh;
    }
}

.dropBtn-clicked {
    border: 2px solid black;
}

.dropdown-content-shown {
    display: block;
}
